<div *ngrxLet="form$ as form" class="mx-auto max-w-sm">
  <h1 class="mb-4 text-2xl leading-none font-semibold text-gray-900">
    Personal and contact information
  </h1>

  <form [ngrxFormState]="form" class="flex flex-col gap-y-5">
    <binary-radio-group
      [control]="form.controls.representativeInformation.controls.reportingForSelf"
      label="Are you the person who was injured?"
      trueLabel="Yes, I am the injured worker"
      falseLabel="No, I am reporting on behalf of the injured worker"
    />

    @if (form.value.representativeInformation.reportingForSelf === false) {
      <representative-info-form [form]="form.controls.representativeInformation" />
    }

    <personal-info-form [form]="form.controls.personalInformation" />

    <contact-info-form [form]="form.controls.contactInformation" />

    <email-consent-form [form]="form.controls.emailConsent" />

    <div>
      <button
        type="button"
        class="cursor-pointer rounded-lg bg-blue-500 px-3 py-2 text-sm font-medium text-white hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 focus:outline-none"
        routerLink=".."
      >
        Continue
      </button>
    </div>
  </form>
</div>
