<form *ngrxLet="form$ as form" [ngrxFormState]="form">
  <div class="my-3">
    <label class="form-label" for="first-name">First name</label>
    <input
      class="form-control"
      id="first-name"
      type="text"
      [ngrxFormControlState]="form.controls.firstName"
    />
  </div>

  <div class="my-3">
    <label class="form-label" for="middle-name">Middle name</label>
    <input
      class="form-control"
      id="middle-name"
      type="text"
      [ngrxFormControlState]="form.controls.middleName"
    />
  </div>

  <div class="my-3">
    <label class="form-label" for="last-name">Last name</label>
    <input
      class="form-control"
      id="last-name"
      type="text"
      [ngrxFormControlState]="form.controls.lastName"
    />
  </div>

  <div class="my-3 form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="optional"
      [ngrxFormControlState]="form.controls.subscribe"
    />
    <label class="form-check-label" for="optional"> Subscribe to newsletter </label>
  </div>

  <div *ngIf="form.value.subscribe" class="my-3">
    <label class="form-label" for="mandatory">Email address</label>
    <input
      class="form-control"
      id="mandatory"
      type="text"
      [ngrxFormControlState]="form.controls.email"
    />
  </div>

  <div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="one"
        [ngrxFormControlState]="form.controls.checkboxes.controls.first"
      />
      <label class="form-check-label" for="one">One</label>
    </div>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      id="two"
      [ngrxFormControlState]="form.controls.checkboxes.controls.second"
    />
    <label class="form-check-label" for="two">Two</label>
  </div>

  @if (form.value.checkboxes.second) {
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="three"
        [ngrxFormControlState]="form.controls.checkboxes.controls.third"
      />
      <label class="form-check-label" for="three">Three</label>
    </div>

    @if (form.value.checkboxes.third) {
      <figure class="text-end my-2">
        <blockquote class="blockquote">
          <p>What can be asserted without evidence can also be dismissed without evidence</p>
        </blockquote>
        <figcaption class="blockquote-footer">Christopher Hitchens</figcaption>
      </figure>
    }
  }

  <div class="row g-2 my-3">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" [routerLink]="['..']">Save</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-danger" (click)="reset()">Reset</button>
    </div>
  </div>
</form>
