<h2 class="mb-4 text-xl leading-none font-bold text-yellow-500">Representative information</h2>

@if (form) {
  <div class="flex flex-col gap-y-2">
    <label for="first-name" class="block text-sm font-semibold text-gray-900">First name</label>
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="first-name"
      [ngrxFormControlState]="form.controls.firstName"
      type="text"
    />

    <label for="last-name" class="block text-sm font-semibold text-gray-900">Last name</label>
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="last-name"
      [ngrxFormControlState]="form.controls.lastName"
      type="text"
    />

    <label for="phone-number" class="block text-sm font-semibold text-gray-900">Phone number</label>
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="phone-number"
      [ngrxFormControlState]="form.controls.phoneNumber"
      type="text"
    />

    <label for="relationship" class="mb-2 block text-sm font-semibold text-gray-900"
      >Relationship to the injured worker</label
    >
    <select
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="relationship"
      [ngrxFormControlState]="form.controls.relationship"
    >
      <option value="" disabled>Choose a relationship</option>
      <option value="Coworker">Coworker</option>
      <option value="Spouse">Spouse</option>
      <option value="OtherFamily">Family</option>
      <option value="UnionRepresentative">Union</option>
      <option value="Other">Other</option>
    </select>

    @if (form.value.relationship === 'Other') {
      <label for="relationship-other" class="mb-2 block text-sm font-semibold text-gray-900"
        >Your message</label
      >
      <textarea
        id="relationship-other"
        rows="4"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      ></textarea>
    }
  </div>
}
