<h2 class="mb-4 text-xl leading-none font-semibold text-yellow-500">Representative information</h2>

<div class="flex flex-col gap-y-3">
  <text-input [control]="form.controls.firstName" label="First name" />

  <text-input [control]="form.controls.lastName" label="Last name" />

  <text-input [control]="form.controls.phoneNumber" label="Phone number" />

  <select-option
    [control]="form.controls.relationship"
    label="Relationship to the injured worker"
    defaultLabel="Choose a relationship"
    [options]="[
        { key: 'Coworker', value: 'Co-worker' },
        { key: 'Spouse', value: 'Spouse' },
        { key: 'OtherFamily', value: 'Other family member' },
        { key: 'UnionRepresentative', value: 'Union rep' },
        { key: 'Other', value: 'Other' },
      ]"
  />

  @if (form.value.relationship === 'Other') {
    <text-area
      [control]="form.controls.relationshipOther"
      label="Relationship to the injured worker"
    />
  }
</div>
