<h2 class="mb-4 text-xl leading-none font-bold text-yellow-500">Your personal information</h2>

@if (form) {
  <div class="flex flex-col gap-y-2">
    <div>
      <label for="have-claim-number" class="block text-sm font-semibold text-gray-900">
        Have you already received a claim number for the incident you are reporting today?
      </label>
      <p id="have-claim-number-helper-text" class="text-sm text-gray-500">
        You may have received a claim number from us.
      </p>
    </div>

    <div class="flex gap-x-3">
      <input class="hidden" id="have-claim-number" />
      <div class="flex items-center gap-x-2">
        <input
          class="border-gray-300 bg-gray-100 text-blue-500 focus:ring-1 focus:ring-white"
          id="have-claim-number-yes"
          name="have-claim-number"
          [ngrxFormControlState]="form.controls.haveClaimNumber"
          type="radio"
          [value]="true"
        />
        <label for="have-claim-number-yes" class="text-sm font-medium text-gray-900">Yes</label>
      </div>
      <div class="flex items-center gap-x-2">
        <input
          class="border-gray-300 bg-gray-100 text-blue-500 focus:ring-1 focus:ring-white"
          id="have-claim-number-no"
          name="have-claim-number"
          [ngrxFormControlState]="form.controls.haveClaimNumber"
          type="radio"
          [value]="false"
        />
        <label for="have-claim-number-no" class="text-sm font-medium text-gray-900">No</label>
      </div>
    </div>

    @if (form.value.haveClaimNumber === true) {
      <label for="claim-number" class="block text-sm font-semibold text-gray-900"
        >Claim number</label
      >
      <input
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
        id="claim-number"
        [ngrxFormControlState]="form.controls.claimNumber"
        type="text"
      />
    }

    <label for="legal-first-name" class="block text-sm font-semibold text-gray-900"
      >Legal first name</label
    >
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="legal-first-name"
      [ngrxFormControlState]="form.controls.legalFirstName"
      type="text"
    />

    <label for="preferred-first-name" class="block text-sm font-semibold text-gray-900"
      >Preferred first name</label
    >
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="preferred-first-name"
      [ngrxFormControlState]="form.controls.preferredFirstName"
      placeholder="Optional"
      type="text"
    />

    <label for="middle-name" class="block text-sm font-semibold text-gray-900"
      >Middle name or initial</label
    >
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="middle-name"
      [ngrxFormControlState]="form.controls.middleName"
      placeholder="Optional"
      type="text"
    />

    <label for="last-name" class="block text-sm font-semibold text-gray-900">Last name</label>
    <input
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
      id="last-name"
      [ngrxFormControlState]="form.controls.lastName"
      type="text"
    />

    <label for="date-of-birth" class="block text-sm font-semibold text-gray-900"
      >Date of birth</label
    >
    <input id="date-of-birth" class="hidden" />
    <div class="flex gap-x-2">
      <input
        #year
        class="block w-1/2 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400 [&::-webkit-inner-spin-button]:appearance-none"
        id="date-of-birth-year"
        (input)="onDateChanged($event)"
        [ngrxFormControlState]="form.controls.dateOfBirth.controls.year"
        maxlength="4"
        placeholder="YYYY"
        type="text"
      />
      <input
        #month
        class="block w-1/4 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400 [&::-webkit-inner-spin-button]:appearance-none"
        id="date-of-birth-month"
        (input)="onDateChanged($event)"
        [ngrxFormControlState]="form.controls.dateOfBirth.controls.month"
        maxlength="2"
        placeholder="MM"
        type="text"
      />
      <input
        #day
        class="block w-1/4 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400 [&::-webkit-inner-spin-button]:appearance-none"
        id="date-of-birth-day"
        (input)="onDateChanged($event)"
        [ngrxFormControlState]="form.controls.dateOfBirth.controls.day"
        maxlength="2"
        placeholder="DD"
        type="text"
      />
    </div>
  </div>
}
