<h5>Representative information</h5>

<fieldset *ngIf="form">
  <legend class="fs-6 fw-bold">First name</legend>
  <input
    type="text"
    class="form-control"
    id="first-name"
    [ngrxFormControlState]="form.controls.firstName"
  />

  <legend class="fs-6 fw-bold">Last name</legend>
  <input
    type="text"
    class="form-control"
    id="last-name"
    [ngrxFormControlState]="form.controls.lastName"
  />

  <legend class="fs-6 fw-bold">Phone number</legend>
  <input
    type="text"
    class="form-control"
    id="phone-number"
    [ngrxFormControlState]="form.controls.phoneNumber"
  />

  <legend class="fs-6 fw-bold">Relationship to the injured worker</legend>
  <select class="form-select" aria-label="" [ngrxFormControlState]="form.controls.relationship">
    <option value="">Choose a relationship</option>
    <option value="Coworker">Coworker</option>
    <option value="Spouse">Spouse</option>
    <option value="OtherFamily">Family</option>
    <option value="UnionRepresentative">Union</option>
    <option value="Other">Other</option>
  </select>

  @if (form.value.relationship === 'Other') {
    <legend class="fs-6 fw-bold">What is your relationship with the worker?</legend>
    <input
      type="text"
      class="form-control"
      id="relationship-to-worker-description"
      [ngrxFormControlState]="form.controls.relationshipOther"
    />
  }
</fieldset>

<ngb-alert [dismissible]="false">
  <h6>Will you be someone else be helping the injured worker with their claim?</h6>
  <span>
    If the injured worker would like to add you or someone else as a representative to help manage
    their claim, please have them fill out and sign our <a href="#">authorization</a> form.
  </span>
</ngb-alert>
