<h2 class="mb-4 text-xl leading-none font-semibold text-yellow-500">Shift information</h2>

<div class="flex flex-col gap-y-3">
  <multi-radio-group
    [control]="form.controls.workPattern"
    label="Please tell us about your normal work week at the time of your injury"
    [options]="[
      { key: 'SameShifts', value: 'I was working the same days and hours each week' },
      { key: 'RotatingShifts', value: 'I was working rotating shifts' },
      { key: 'NoPattern', value: 'I was working different hours and/or days each week, with no regular pattern' },
    ]"
  />

  @if (form.value.workPattern === 'SameShifts') {
    <div class="relative overflow-x-auto">
      <table class="w-full text-left text-sm text-gray-500 rtl:text-right">
        <thead class="text-gray-900">
          <tr>
            <th scope="col" class="px-1"></th>
            <th scope="col" class="px-1 font-semibold">Hours</th>
            <th scope="col" class="px-1 font-semibold">Minutes</th>
          </tr>
        </thead>
        <tbody>
          @let days =
            [
              'Monday',
              'Tuesday',
              'Wednesday',
              'Thursday',
              'Friday',
              'Saturday',
              'Sunday',
            ];

          @for (day of days; track day; let i = $index) {
            <tr class="bg-white">
              <th scope="row" class="px-1 py-3 font-semibold whitespace-nowrap text-gray-900">
                {{ day }}
              </th>
              <td class="px-1">
                <input
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                  [id]="i + '-hours'"
                  [ngrxFormControlState]="form.controls.weekPaidHours.controls[i].controls.hours"
                  type="number"
                />
              </td>
              <td class="px-1">
                <input
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                  [id]="i + '-minutes'"
                  [ngrxFormControlState]="form.controls.weekPaidHours.controls[i].controls.minutes"
                  type="number"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (form.value.workPattern === 'RotatingShifts') {
    <multi-radio-group
      [control]="form.controls.daysOnOffRotation"
      label="How many different shift patterns of days on and days off were in your rotation schedule before they repeated?"
      [options]="[
        { key: 'LessThanSix', value: 'Less than 6' },
        { key: 'SixOrMore', value: '6 or more' }
      ]"
    />

    @if (form.value.daysOnOffRotation === 'LessThanSix') {
      <h3 class="text-md leading-none font-semibold text-black">Rotation schedule</h3>

      <h3 class="text-md leading-none text-black">Shift pattern 1</h3>

      <div class="flex flex-col gap-y-2">
        <label class="block text-sm font-semibold text-gray-900" for="first-day"
          >First day of the rotation you were injured</label
        >
        <input
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
          id="first-day"
          [ngrxFormControlState]="form.controls.shiftPattern.controls.firstDay"
          type="date"
        />
      </div>

      <!-- days on and days off-->

      <!-- array of additional days -->
    }
  }

  @if (form.value.workPattern === 'NoPattern') {
    <binary-radio-group
      [control]="form.controls.haveDaysNeverWorked"
      [horizontal]="true"
      label="Are there days of the week that you never work?"
    />

    @if (form.value.haveDaysNeverWorked) {
      <!-- TODO: checkboxes for each day of the week -->
    }

    <text-input
      [control]="form.controls.averageWeeklyWorkHours"
      label="On average, how many hours do you work each week?"
    />

    <text-area
      [control]="form.controls.additionalInformation"
      label="Is there anything else you'd like to tell us about your work schedule that you haven't already told us?"
      [optional]="true"
    />
  }
</div>
