<h2 class="mb-4 text-xl leading-none font-semibold text-yellow-500">Shift information</h2>

<div class="flex flex-col gap-y-3">
  <multi-radio-group
    [control]="form.controls.workPattern"
    label="Please tell us about your normal work week at the time of your injury"
    [options]="[
      { key: 'SameShifts', value: 'I was working the same days and hours each week' },
      { key: 'RotatingShifts', value: 'I was working rotating shifts' },
      { key: 'NoPattern', value: 'I was working different hours and/or days each week, with no regular pattern' },
    ]"
  />

  @if (form.value.workPattern === 'SameShifts') {
    <div class="relative overflow-x-auto">
      <table class="w-full text-left text-sm text-gray-500 rtl:text-right">
        <thead class="text-gray-900">
          <tr>
            <th scope="col" class="px-1"></th>
            <th scope="col" class="px-1 font-semibold">Hours</th>
            <th scope="col" class="px-1 font-semibold">Minutes</th>
          </tr>
        </thead>
        <tbody>
          @let days =
            [
              'Monday',
              'Tuesday',
              'Wednesday',
              'Thursday',
              'Friday',
              'Saturday',
              'Sunday',
            ];

          @for (day of days; track day; let i = $index) {
            <tr class="bg-white">
              <th scope="row" class="px-1 py-3 font-semibold whitespace-nowrap text-gray-900">
                {{ day }}
              </th>
              <td class="px-1">
                <input
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                  [id]="i + '-hours'"
                  [ngrxFormControlState]="form.controls.weekPaidHours.controls[i].controls.hours"
                  type="number"
                />
              </td>
              <td class="px-1">
                <input
                  class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                  [id]="i + '-minutes'"
                  [ngrxFormControlState]="form.controls.weekPaidHours.controls[i].controls.minutes"
                  type="number"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (form.value.workPattern === 'RotatingShifts') {
    <multi-radio-group
      [control]="form.controls.daysOnOffRotation"
      label="How many different shift patterns of days on and days off were in your rotation schedule before they repeated?"
      [options]="[
        { key: 'LessThanSix', value: 'Less than 6' },
        { key: 'SixOrMore', value: '6 or more' }
      ]"
    />

    @if (form.value.daysOnOffRotation === 'LessThanSix') {
      <h3 class="text-md leading-none font-semibold text-gray-900">Rotation schedule</h3>

      @for (
        shift of form.controls.shiftPattern.controls.pattern.controls;
        track shift.id;
        let i = $index;
        let first = $first
      ) {
        <div
          class="flex w-full max-w-sm flex-col gap-y-2 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6 md:p-8"
        >
          <div class="flex justify-between">
            <h3 class="text-sm leading-none text-gray-900">Shift pattern {{ i + 1 }}</h3>
            <a
              *ngIf="!first"
              href="javascript: void(0)"
              class="text-sm text-blue-500"
              (click)="remove(i)"
              >Remove</a
            >
          </div>

          <hr class="my-2 h-px border-0 bg-gray-200" />

          @if (first) {
            <label class="block text-sm font-semibold text-gray-900" for="first-day"
              >First day of the rotation you were injured</label
            >
            <input
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-gray-400 focus:ring-gray-400"
              id="first-day"
              [ngrxFormControlState]="form.controls.shiftPattern.controls.firstDay"
              type="date"
            />
          }

          <div class="flex gap-x-2">
            <div class="flex w-1/2 flex-col gap-y-2">
              <label class="block text-sm font-semibold text-gray-900" [for]="i + '-days-on'"
                >Number of days on</label
              >
              <input
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                [id]="i + '-days-on'"
                [ngrxFormControlState]="shift.controls.daysOn"
                type="number"
              />
            </div>

            <div class="flex w-1/2 flex-col gap-y-2">
              <label class="block text-sm font-semibold text-gray-900" [for]="i + '-days-off'"
                >Number of days off</label
              >
              <input
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
                [id]="i + '-days-off'"
                [ngrxFormControlState]="shift.controls.daysOff"
                type="number"
              />
            </div>
          </div>
        </div>
      }

      <div>
        <a href="javascript: void(0)" class="text-sm text-blue-500" (click)="add()"
          >Add another shift pattern</a
        >
      </div>
    }
  }

  @if (form.value.workPattern === 'NoPattern') {
    <binary-radio-group
      [control]="form.controls.haveDaysNeverWorked"
      [horizontal]="true"
      label="Are there days of the week that you never work?"
    />

    @if (form.value.haveDaysNeverWorked) {
      @let days = form.controls.daysNeverWorked.controls;

      <label class="block text-sm font-semibold text-gray-900" for="days-never-worked"
        >Which day(s) of the week do you never work?
        <span class="font-normal">(check all that apply)</span></label
      >
      <checkbox [control]="days.monday" label="Monday" />
      <checkbox [control]="days.tuesday" label="Tuesday" />
      <checkbox [control]="days.wednesday" label="Wednesday" />
      <checkbox [control]="days.thursday" label="Thursday" />
      <checkbox [control]="days.friday" label="Friday" />
      <checkbox [control]="days.saturday" label="Saturday" />
      <checkbox [control]="days.sunday" label="Sunday" />
    }

    <text-input
      [control]="form.controls.averageWeeklyWorkHours"
      label="On average, how many hours do you work each week?"
    />

    <text-area
      [control]="form.controls.additionalInformation"
      label="Is there anything else you'd like to tell us about your work schedule that you haven't already told us?"
      [optional]="true"
    />
  }
</div>
