<h4>Personal and contact information</h4>

<form *ngrxLet="form$ as form" [ngrxFormState]="form">
  <fieldset [disabled]="form.isDisabled">
    <legend class="fs-6 fw-bold">Are you the person who was injured?</legend>
    <div class="form-check">
      <input
        type="radio"
        name="is-injured-worker"
        id="is-injured-worker-yes"
        class="form-check-input"
        [(ngModel)]="isInjuredWorker"
        [value]="true"
      />
      <label for="is-injured-worker-yes" class="form-check-label"
        >Yes, I am the injured worker</label
      >
    </div>
    <div class="form-check">
      <input
        type="radio"
        name="is-injured-worker"
        id="is-injured-worker-no"
        class="form-check-input"
        [(ngModel)]="isInjuredWorker"
        [value]="false"
      />
      <label for="is-injured-worker-no" class="form-check-label">
        No, I am reporting on behalf of the injured worker
      </label>
    </div>
  </fieldset>

  @if (isInjuredWorker) {
    <personal-info-form [form]="form.controls.personalInfo"></personal-info-form>
  }

  <div class="row g-2 my-3">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" [routerLink]="['..']">Save</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-danger" (click)="reset()">Reset</button>
    </div>
  </div>
</form>
