@let form = form$ | ngrxPush;
@let formState = formState$ | ngrxPush;
@let state = state$ | ngrxPush;

<div class="row row-cols-1 row-cols-md-2 g-2 my-2">
  <div class="col">
    <personal-and-contact-info-form-card></personal-and-contact-info-form-card>
  </div>
  <div class="col">
    <incident-and-injury-details-form-card></incident-and-injury-details-form-card>
  </div>
  <div class="col">
    <treatment-details-form-card></treatment-details-form-card>
  </div>
</div>

<div class="row g-2 my-2">
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="summary"
      [disabled]="form?.isInvalid ?? true"
    >
      Submit
    </button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-outline-primary" routerLink=".." (click)="save()">
      Save
    </button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-outline-primary" routerLink=".." (click)="exit()">
      Exit
    </button>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-danger" (click)="reset()">Reset</button>
  </div>
</div>

<div class="row g-2 my-2">
  <div class="col">
    <pre>{{ state?.debug ? (formState ?? '' | json) : form?.value | json }}</pre>
  </div>
</div>
